html {
    scroll-snap-type: y mandatory;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    scroll-snap-align: start;
}

.nav-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.nav-container:hover .hidden-menu {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
